.about_course_header .pages_navigation p {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}
.about_course_header .pages_navigation span {
  color: #999;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}
.about_course_header .pages_navigation {
  margin-bottom: 50px;
}
.about_course_header_wrapper {
  height: 421px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../assets/images/course-card-1.jfif), lightgray 50% / cover no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 100px;
  margin-bottom: 32px;
}

.about_header_top p {
  color: #fff;
  text-align: right;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.84px;
  margin-bottom: 50px;
}
.about_course_header_content {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about_course_header_content h2 {
  color: #fff;
  text-align: center;

  /* заголовок */
  font-family: "Montserrat Alternates";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -3px;
}

.about_course_header_content p {
  color: #fff;
  text-align: center;
  width: 70%;
  /* основний */
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.2px;

  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 45px;
}
.about_course_header_content span {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
  text-align: center;
}

.about_course_togglers {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.about_course_togglers button {
  border: none;
  min-width: 205px;
  border-radius: 10px;
  border: 2px solid #8ab2b5;
  background: transparent;
  padding: 16px 0;
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.2px;
}
.about_video {
  padding-bottom: 100px;
}
.about_video h3 {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.5px;
  text-align: center;
  margin-bottom: 33px;
}

.about_video_block {
  height: 410px;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../assets/images/about-video.jfif), lightgray 50% / cover no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_video_block img {
  cursor: pointer;
}
.training_block .block_title {
  text-align: left;
  margin-bottom: 45px;
}
.training_block_item {
  width: 274px;
  height: 344px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  border-radius: 112px;
}
.training_block_item p {
  color: #2e2e2e;
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.5px;
  padding: 0 30px;
}
.training_block_item_first {
  border-radius: 112px;
  border: 3px solid #ffe0b2;
  background: rgba(255, 224, 178, 0.5);
}
.training_block_item_second {
  border-radius: 112px;
  border: 3px solid #8ab2b5;
  background: rgba(138, 178, 181, 0.5);
}

.training_block_items {
  display: flex;
  align-items: center;
}
.training_block_item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.training_block_item {
  margin: 0 -10px;
}
.training_block_item_img {
  position: relative;
  z-index: 11;
}
.training_line {
  width: 650px;
  width: 650px;
  height: 2px;
  background: rgba(255, 224, 178, 0.49);
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 50px;
}

.training_block_items_firstly_text h3 {
  color: #2e2e2e;
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -2.4px;
  margin-bottom: 12px;
}

.training_block_items_firstly_text p {
  color: #000;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}
.training_block_items_firstly {
  padding-bottom: 100px;
}
.training_block_secondary {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 140px;
  padding-left: 100px;
}
.training_block_secondary_left {
  width: 40%;
}
.training_block_secondary .block_title {
  text-align: left;
  margin-bottom: 40px;
}
.training_block_secondary_left div {
  border-radius: 20px;
  background: #ece5d5;
  width: 100%;
  padding: 22px 40px;
  margin-bottom: 14px;
}
.training_block_secondary_left div p {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.32px;
}

.training_block_secondary_right {
  width: 40%;
  height: 701.292px;
}
.training_block_secondary_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 200px 0px 0px 0px;
}

.result_studyng {
  padding: 80px 0;
  background: #ece5d5;
}

.result_studyng_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result_tabs {
  width: 60%;
}
.result_tabs .accordion_tab_item {
  border-bottom: 1px solid #c5c5c5;
  padding: 25px 0;
}
.result_tabs .accordion-panel p {
  width: auto;
}
.result_tabs .block_title {
  margin-bottom: 45px;
}
.result_tabs .accordion_tab_item:last-child {
  border-bottom: transparent;
}
.about_course_autor {
  border-radius: 150px;
  background: rgba(138, 178, 181, 0.3);
  height: 472px;
  margin: 100px auto !important;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.about_course_autor_img {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.about_course_autor_img img {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
.about_course_autor_description {
  width: 430px;
}
.about_course_autor_description h2 {
  text-align: left;
  margin-bottom: 20px;
}

.about_course_autor_description p {
  color: #362217;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.08px;
  margin-bottom: 20px;
}

.about_course_autor_description button {
  border: none;
  border-radius: 10px;
  background: #8ab2b5;
  width: 206px;
  height: 43px;
  color: #fff;
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.2px;
}

.course_advantages_left img {
  width: 100%;
  border-radius: 0px 200px 200px 0px;
}
.course_advantages_left,
.course_advantages_right {
  width: 45%;
}
.course_advantages {
  margin-bottom: 110px;
  display: flex;
  align-items: center;
  gap: 45px;
}
.course_advantages_right .block_title {
  text-align: left;
}
.course_advantages_right div {
  padding: 30px 0;
  border-bottom: 1px solid #8ab2b5;
  max-width: 481px;
}

.course_advantages_right p {
  color: #000;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.32px;
}

.course_structure {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #ece5d5;
}

.course_structure_wrapper {
  width: 726px;
  margin: 0 auto;
  padding: 80px 0;
}

.course_structure_wrapper .block_title {
  margin-bottom: 60px;
}
.structure_tab_item {
  border-radius: 20px;
  background: #8ab2b5;
  overflow: hidden;
  padding: 20px 50px;
  margin-bottom: 20px;
}
.structure_tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
  background: transparent;
}
.structure_tab h3 {
  color: #fff;

  font-family: "Montserrat Alternates";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.8px;
}

.structure_tab div {
  display: flex;
  align-items: center;
  gap: 34px;
}
.structure_tab p {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.96px;
}

.structure_tab-panel p {
  color: #fff;
  padding-top: 20px;
}
.course_price {
  padding: 100px 0;
  background: #8ab2b5;
}

.course_price_wrapper .block_title {
  color: #fff;
  margin-bottom: 55px;
}
.course_price_cards {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.course_price_card {
  border-radius: 44px;
  background: #fff;
  padding: 25px 35px 50px;
  width: 32%;
  height: 717px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.course_price_card_title h3 {
  color: #393939;
  font-family: "Montserrat Alternates";
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.course_price_card_title {
  padding-bottom: 15px;
  border-bottom: 1px solid #593825ab;
  margin-bottom: 40px;
}
.discount {
  color: #5c5c5c;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: line-through;
  margin-right: 18px;
}

.real_price p {
  color: #8ab2b5;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.real_price span {
  color: #8ab2b5;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.course_price_card_price {
  display: flex;
  align-items: center;
}
.course_price_card_text {
  padding-top: 20px;
}
.course_price_card_text p {
  color: #393939;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 175.4%; /* 31.572px */
  letter-spacing: -1.08px;
}

.course_price_card button {
  border-radius: 10px;
  background: #8ab2b5;
  width: 100%;
  border: none;
  height: 69px;
  color: #fff;
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.8px;
}

.course_price_secondary {
  width: 100%;
  background: #8ab2b5;
  padding: 70px 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course_price_card_secondary {
  width: 555px;
  height: 406px;
}

.course_price_card_secondary h3 {
  color: #65898b;
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.8px;
}

.about_course_togglers button {
  transition: all 0.4s ease;
}
.about_course_togglers button:hover {
  transition: all 0.4s ease;
  background: #8AB2B5;
  color: #FFF;
}
.course_price_card_secondary p {
  color: #8ab2b5;
  font-family: Montserrat;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.course_price_card_secondary .course_price_card_title {
  width: 330px;
}
.course_price_card_secondary .real_price {
  width: 100%;
}

.course_price_card_secondary button {
  width: 300px;
}
@media only screen and (max-width: 1150px) {
  .about_course_togglers_wrapper {
    width: 100%;
    overflow-x: auto;
  }
  .about_course_togglers {
    width: 1135px;
    padding-bottom: 100px;
    padding-bottom: 0;
  }
  .about_course_header_wrapper {
    padding: 0;
    padding-top: 70px;
    padding: 70px 25px 0;
    height: 242px;
    text-align: left;
  }
  .about_header_top {
    display: none;
  }
  .about_course_header_content h2 {
    font-size: 20px;
    letter-spacing: -1.2px;
  }
  .about_course_header_content p {
    margin: 13px 0 20px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
    width: 234px;
  }
  .about_course_header_content span {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
  }
  .about_course_togglers {
    gap: 7px;
    padding-bottom: 80px;
    margin-bottom: 0;
  }
  .about_course_togglers button {
    width: 143px;
    font-size: 16px;
    padding: 10px 0;
  }
  .about_video_block {
    height: 168px;
  }
  .about_video h3 {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .result_studyng_wrapper {
    flex-direction: column;
  }
  .result_tabs {
    width: 100%;
  }
  .result_studyng_wrapper img:nth-child(1) {
    width: 100%;
    margin-bottom: 30px;
  }
  .result_tabs .block_title {
    margin-bottom: 30px;
  }
  .about_course_autor {
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    margin: 80px 0;
    border-radius: 80px;
  }
  .about_course_autor_description {
    width: 100%;
    padding: 60px 25px 0;
  }
  .about_course_autor_img {
    width: 100%;
    height: 280px;
  }
  .course_advantages {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .course_advantages_left,
  .course_advantages_right {
    width: 100%;
  }
  .course_advantages_right {
    padding: 0 20px;
  }
  .course_advantages_right div {
    padding: 20px 0;
  }
  .course_advantages_right p {
    font-size: 16px;
  }
  .course_structure_wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .course_structure_wrapper .block_title {
    margin-bottom: 33px;
  }
  .structure_tab_item {
    padding: 20px;
  }
  .structure_tab div {
    flex-direction: column;
    align-items: start;
    gap: 3px;
  }
  .structure_tab img {
    width: 24px;
    height: 12px;
  }
  .structure_tab p {
    text-align: left;
    font-size: 12px;
  }
  .structure_tab-panel p {
    font-size: 11px;
  }
  .course_price_cards {
    flex-direction: column;
    gap: 20px;
  }
  .course_price_card {
    width: 100%;
    height: auto;
  }
  .course_price_card button {
    margin-top: 20px;
  }
  .course_price_secondary {
    padding: 70px 20px;
  }
  .training_block_secondary {
    flex-direction: column;
    padding: 90px 20px 0;
  }
  .training_block_secondary_left,
  .training_block_secondary_right {
    width: 100%;
  }
  .training_block_secondary_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
  }

  .training_block_secondary_right img {
    width: 246.587px;
    height: 309.583px;
    flex-shrink: 0;
    margin-top: 20px;
  }
  .training_block_secondary_left div {
    padding: 17px 30px;
    border-radius: 10px;
  }
  .training_block_secondary_left div p {
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
  }
  .training_line {
    width: 100%;
    margin: 40px 0 30px;
  }
  .training_block_items_firstly_text h3 {
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;
  }
  .training_block_items_firstly_text p {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
  }
  .training_block_secondary {
    padding-top: 60px;
  }
  .training_block_items_wrapper {
    width: 100%;
    overflow-x: auto;
  }
  .training_block_item {
    width: 197px;
    height: 247px;
    border-radius: 80px;
  }
  .training_block_items {
    width: 900px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .training_block {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .training_block .block_title {
    margin-bottom: 30px;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;
    padding-left: 20px;
  }
  .training_block_item p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
  }
  .course_price_card_secondary p {
    font-size: 50px;
  }
  .course_price_card_secondary h3 {
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;
  }
  .course_price_card_secondary {
    padding: 50px;
  }
  .course_price_card_secondary .course_price_card_title {
    width: 100%;
  }
  .course_price_card_secondary button, .course_price_card button {
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
    height: 50px;
  }
  .course_price_card_title  h3 {
    font-size: 25px;
  }
}
