footer {
  padding: 60px 0 70px;
  background: #8ab2b5;
}

.footer_logo p {
  color: #fff;
  font-family: "Montserrat Alternates";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 108.023%; /* 32.407px */
  text-transform: uppercase;
  margin-bottom: 60px;
}

.footer_menu {
  display: flex;
  align-items: center;
  gap: 60px;
}
.footer_menu p {
  color: #fff;
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 108.023%; /* 17.284px */
  text-transform: uppercase;
}

.footer_wrapper_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_socials p {
  margin-bottom: 30px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 108.023%; /* 21.605px */
}
.footer_socials div {
  display: flex;
  align-items: center;
  gap: 36px;
}

.footer_wrapper_middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0;
}
.footer_contacts a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer_contacts p {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}

.footer_policy {
  display: flex;
  align-items: center;
  gap: 58px;
}

.footer_policy p {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

@media only screen and (max-width: 500px) {
  .footer_wrapper_top,
  .footer_wrapper_middle {
    flex-direction: column;
    align-items: self-start;
    gap: 30px;
  }
  .footer_policy {
    flex-direction: column;
    align-items: self-start;
    gap: 14px;
  }
  .footer_menu {
    gap: 10px;
  }
  footer {
    padding: 45px 0 60px;
  }
}
