nav {
  position: relative;
  height: 106px;
}
.nav {
  width: 100%;
 
  background: #fff;
  position: fixed;
  z-index: 1111;
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 58px;
}
.nav_menu p {
  color: #593825;
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 108.023%; /* 17.284px */
  text-transform: uppercase;
}

.nav_right {
  display: flex;
  align-items: center;
  gap: 35px;
}
.nav_lang_toggler p {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav_lang_toggler span {
  color: #9b9b9b;
}
.nav_btn {
  padding: 14px 51px;
  border-radius: 9px;
  border: 1px solid #000;
  background: transparent;
  color: #000;
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 108.023%; /* 17.284px */
  text-transform: uppercase;
}

.nav_menu p:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1050px) {
  nav {
    display: none;
  }
}
